{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {% for message in app.flashes('failure') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <form method="post" action="{{ path('admin_user_remove', {'id': user.id, 'token': csrf_token('remove_user')}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'utilisateur');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit">Delete</button>
    </form>
{% endblock %}
