{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .content { height: 500px }
</style>

<div class="example-wrapper">
    <div style="width: 100%; height: 100px; background-color: #0B7FC7; overflow: hidden">
        FOODIFY
    </div>
    <div class="content">
        <p>Welcome to Foodify.</p>

        <p>An account has been generated using the email : {{ user_email }}</p>
        <p>your password: {{ tmp_password }}</p>
    </div>
    <div style="width: 100%; height: 100px; background-color: #0B7FC7">
    </div>
</div>
{% endblock %}
