{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% include 'admin/user/component/user_profile.html.twig' %}
    {% include 'admin/user/component/user_side.html.twig' %}
{% endblock %}
