{% extends 'base.html.twig' %}

{% block title %}Admin - Log in!{% endblock %}

{% block body %}
    <div class="border border-red-600 w-full min-h-screen justify-center items-center flex flex-col space-y-4 login-form">
        <h1 class="text-center text-xl">Connexion Admin</h1>
        <form method="post" class="flex flex-col space-y-4 2xl:w-1/3 lg:w-1/2 md:w-1/2 sm:w-1/2 w-full">
            {% if error %}
                <div class="text-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <label class="block">
                <label for="inputEmail" class="login-input-label">Email</label>
                <input type="email"
                       placeholder="Entrez votre email"
                       name="email"
                       value="{{ last_username }}"
                       class="login-input form-control"
                       id="inputEmail"
                       autocomplete="email"
                       required
                       autofocus/>
            </label>
            <label class="block">
                <label for="inputPassword" class="login-input-label">Mot de passe</label>
                <input type="password"
                       placeholder="Entrez votre mot de passe"
                       name="password"
                       class="login-input form-control"
                       id="inputPassword"
                       autocomplete="current-password"
                       required/>
            </label>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="button-submit" type="submit">
                Se connecter
            </button>
            <a href="{{ path('admin_forgot_password_request') }}">
                Mot de passe oublié?
            </a>
        </form>
    </div>
{% endblock %}
