{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="border w-full min-h-screen justify-center items-center flex flex-col space-y-4 login-form">
        <lottie-player src="https://assets9.lottiefiles.com/datafiles/8UjWgBkqvEF5jNoFcXV4sdJ6PXpS6DwF7cK4tzpi/Check Mark Success/Check Mark Success Data.json" mode="normal" background="transparent"  speed="1"  style="width: 150px; height: 150px;" autoplay></lottie-player>
        <p> Si votre adresse se trouve dans notre base de donnée, vous recevrez un mail de récupération de mot de passe dans quelque minutes.</p>
        <p>Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <p>Si vous ne recevez pas de mail, vérifier dans vos spam ou <a href="{{ path('admin_forgot_password_request') }}" class="text-blue-400 hover:text-blue-500">réessayer</a>.</p>
    </div>
{% endblock %}
