{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="border w-full min-h-screen justify-center items-center flex flex-col space-y-4 login-form">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div>
            {{ form_start(requestForm, {'attr': {'class': 'form'}}) }}
            <h1 class="items-center flex flex-col">Mot de passe oublié.</h1>

            {{ form_row(requestForm.email) }}

            <div>
                <small>
                    Entrez votre adresse email pour recevoir un lien de réinitialisation.
                </small>
            </div>
            <div>
                <button class="btn btn-primary bg-blue-500 p-4 text-white rounded-lg">Réinitialiser</button>
            </div>
            {{ form_end(requestForm) }}
        </div>

    </div>
{% endblock %}
