{% set current_path = app.request.get('_route') %}

<!--
    /*
     */
-->

<div class="flex space-x-1 h-48 w-full mt-2 overflow-x-auto">
    {% if bottom_value is defined %}
        {% for key, value in bottom_value %}
            <div class="text-center p-4 h-full w-48 max-w-md bg-white rounded-lg border shadow-md sm:p-8">
                <div class="center mb-5">
                    {{ key }}
                </div>
                <div>
                    {{ value }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

