{% set current_path = app.request.get('_route') %}

<!--
    /*
     * chart_selection
     * chart_selected
     * chart_filter
     * render_chart(chart, {'class': 'example-wrapper'})
     */
-->
<div class="b-2 p-3 bg-white w-full rounded-lg border border-gray-200 shadow-md relative">
    {% if chart_selection|length > 1 %}
        <button id="dashboardDropdownButton" data-dropdown-toggle="dashboardDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
            {% for selection in chart_selection %}
                {% if selection.value is same as(chart_selected) %}
                    {{ selection.name }}
                {% endif %}
            {% endfor %}
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dashboardDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
            <div class="py-1">
                <span class="block py-2 px-4 text-sm text-gray-700">
                    {% for selection in chart_selection %}
                        {% if selection.value is same as(chart_selected) %}
                            {{ selection.name }}
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardDropdownButton">
                {% if restaurant_title is defined %}
                    {% for selection in chart_selection %}
                        <li>
                            <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': selection.value, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100">{{ selection.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for selection in chart_selection %}
                        {% if selection.value is not same as(chart_selected) %}
                            <li>
                                <a href="{{ path(current_path, {'chart_selected': selection.value, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': days, 'hours': hours}) }}" class="block py-2 px-4 hover:bg-gray-100">{{ selection.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <button id="dashboardFilterDropdownButton" data-dropdown-toggle="dashboardFilterDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
        {% for key, filter in chart_filter_parameter %}
            {% if filter.value is same as(chart_filter) %}
                {{ filter.name }}
            {% endif %}
        {% endfor %}
        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </button>
    <!-- Dropdown menu -->
    <div id="dashboardFilterDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardFilterDropdownButton">
            {% if restaurant_title is defined %}
                {% for key, filter in chart_filter_parameter %}
                    {% if filter.value is not same as(chart_filter) %}
                        <li>
                            <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': filter.value, 'years': years, 'months': months, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100">{{ filter.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for key, filter in chart_filter_parameter %}
                    {% if filter.value is not same as(chart_filter) %}
                        <li>
                            <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': filter.value, 'years': years, 'months': months, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100">{{ filter.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="absolute right-0 top-0 p-3">
        {% if chart_filter is same as("months") or chart_filter is same as("days") or chart_filter is same as("hours") or chart_filter is same as("minutes") %}
            <button id="dashboardFilterYearsDropdownButton" data-dropdown-toggle="dashboardFilterYearsDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
                Année : {{ years }}
                <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dashboardFilterYearsDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow overflow-y-auto max-h-64">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardFilterYearsDropdownButton">
                    {% if restaurant_title is defined %}
                        {% for selected_year in 2020..('now'|date('Y'))  %}
                            <li>
                                <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': selected_year, 'months': months, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100">{{ selected_year }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for selected_year in 2020..('now'|date('Y'))  %}
                            <li>
                                <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': selected_year, 'months': months, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100">{{ selected_year }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% if chart_filter is same as("days") or chart_filter is same as("hours") or chart_filter is same as("minutes") %}
                <button id="dashboardFilterMonthsDropdownButton" data-dropdown-toggle="dashboardFilterMonthsDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
                    Mois : {{ months }}
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dashboardFilterMonthsDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow overflow-y-auto max-h-64">
                    <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardFilterMonthsDropdownButton">
                        {% if restaurant_title is defined %}
                            {% if 'now'|date('Y') is same as(years) %}
                                {% for selected_month in 1..('now'|date('m'))  %}
                                    <li>
                                        <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': selected_month, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_month }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for selected_month in 1..12  %}
                                    <li>
                                        <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': selected_month, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_month }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% if 'now'|date('Y') == years %}
                                {% for selected_month in 1..('now'|date('m'))  %}
                                    <li>
                                        <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': selected_month, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_month }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for selected_month in 1..12  %}
                                    <li>
                                        <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': selected_month, 'days': days, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_month }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                {% if chart_filter is same as("hours") or chart_filter is same as("minutes") %}
                    <button id="dashboardFilterDaysDropdownButton" data-dropdown-toggle="dashboardFilterDaysDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center " type="button">
                        Jours : {{ days }}
                        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dashboardFilterDaysDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow  overflow-y-auto max-h-64">
                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardFilterDaysDropdownButton">
                            {% if restaurant_title is defined %}
                                {% for selected_day in 1..('2020-6-1' | date_modify('last day of this month') | date('d'))  %}
                                    <li>
                                        <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': selected_day, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_day }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for selected_day in 1..('2020-6-1' | date_modify('last day of this month') | date('d'))  %}
                                    <li>
                                        <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': selected_day, 'hours': hours }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_day }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    {% if chart_filter is same as("minutes") %}
                        <button id="dashboardFilterHoursDropdownButton" data-dropdown-toggle="dashboardFilterHoursDropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center " type="button">
                            Heures : {{ hours }}
                            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dashboardFilterHoursDropdownDivider" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow  overflow-y-auto max-h-64">
                            <ul class="py-1 text-sm text-gray-700" aria-labelledby="dashboardFilterHoursDropdownButton">
                                {% if restaurant_title is defined %}
                                    {% for selected_hour in 0..23  %}
                                        <li>
                                            <a href="{{ path(current_path, {'id': restaurant.id, 'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': days, 'hours': selected_hour }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_hour }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for selected_hour in 0..23  %}
                                        <li>
                                            <a href="{{ path(current_path, {'chart_selected': chart_selected, 'chart_filter': chart_filter, 'years': years, 'months': months, 'days': days, 'hours': selected_hour }) }}" class="block py-2 px-4 hover:bg-gray-100 ">{{ selected_hour }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {{ render_chart(chart, {'style': 'max-width: 100%;'}) }}
</div>