<div class="filter flex w-full py-2">
    <div class="py-3">
        <a href="{{ path("admin_user_create") }}" class="flex bg-blue-400 p-3 rounded text-white font-bold">
            <span class="material-icons">
                add
            </span>
            {{ entityName|trans }}
        </a>
    </div>
    <form class="flex gap-3 px-3 w-full overflow-x-auto">
        <div class="flex gap-3 w-full overflow-x-auto">
            {% for parameterKey, parameter in filterParameters %}
                <div>
                    <label class="text-xs flex flex-col w-32 h-full" label="{{ parameter }}">
                        <span>{{ parameter|trans }}</span>
                        <select name="{{ parameter }}" class="border-none rounded shadow h-2/3">
                            <option value=""></option>
                            {% if filterValues is not empty %}
                                {% for valueKey, value in filterValues[parameter] %}
                                    {% if value is iterable %}
                                        {% if parameter is same as("created_at") %}
                                            {% if valueKey is same as ("date") %}
                                                {% for key, val in value %}
                                                    <option value="{{ val }}">{{ val }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        {% elseif parameter is same as("updated_at") %}
                                            {% if valueKey is same as ("date") %}
                                                {% for key, val in value %}
                                                    <option value="{{ val }}">{{ val }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                            {% for key, val in value %}
                                                <option value="{{ val }}">{{ val }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% elseif value is same as(true) %}
                                        <option value="{{ value }}">Vrai</option>
                                    {% elseif value is same as(false) %}
                                        <option value="{{ value }}">Faux</option>
                                    {% else %}
                                        {% if value is not empty %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endif%}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="bg-blue-300 border border-l-0 rounded-r text-white p-3 hover:bg-blue-500">Filtrer</button>
    </form>
</div>