{% set current_path = app.request.get('_route') %}

<!--
    /*
     */
-->



<div class="p-4 max-w-md min-h-full max-h-full bg-white rounded-lg border shadow-md sm:p-8">
    <div class="flex flex-col justify-between items-center mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900">Derniers {{ chart_selected|trans }}</h5>
        <a href="#" class="text-sm font-medium text-blue-600 hover:underline">
            View all
        </a>
    </div>
    <div class="flow-root overflow-y-auto min-h-full max-h-full">
        <ul role="list" class="divide-y divide-gray-200">
            {% if chart_selected is same as("connected_users") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                {% if value.avatarName is empty %}
                                    <img class="w-8 h-8 rounded-full" src="{{ asset('img/user_icon.png') }}" alt="{{ value.firstname }} image">
                                {% else %}
                                    <img class="w-8 h-8 rounded-full" src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="{{ value.firstname }} image">
                                {% endif %}
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                    {{ value.firstname }} {{ value.lastname }}
                                </p>
                                <p class="text-sm text-gray-500 truncate">
                                    {{ value.email }}
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                {% set datePost = value.created_at|date('d-m-Y') %}
                                {% set today = "now"|date('d-m-Y') %}
                                {% set difference = date(datePost).diff(date(today))%}
                                {% set leftDays = difference.days %}
                                {% if datePost == today %}
                                    Il y a 1 Jour
                                {% else %}
                                    Il y a {{ leftDays }} Jours
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% elseif chart_selected is same as("users") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <a href="{{ path("admin_user_show", {'id': value.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    {% if value.avatarName is empty %}
                                        <img class="w-8 h-8 rounded-full" src="{{ asset('img/user_icon.png') }}" alt="{{ value.firstname }} image">
                                    {% else %}
                                        <img class="w-8 h-8 rounded-full" src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="{{ value.firstname }} image">
                                    {% endif %}
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ value.firstname }} {{ value.lastname }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        {{ value.email }}
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900ext-white">
                                    {% set datePost = value.created_at|date('d-m-Y') %}
                                    {% set today = "now"|date('d-m-Y') %}
                                    {% set difference = date(datePost).diff(date(today))%}
                                    {% set leftDays = difference.days %}
                                    {% if datePost == today %}
                                        Il y a 1 Jour
                                    {% else %}
                                        Il y a {{ leftDays }} Jours
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% elseif chart_selected is same as("restaurants") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <a href="{{ path("admin_restaurant_show", {'id': value.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ value.name }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        {{ value.country }}
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    {% set datePost = value.created_at|date('d-m-Y') %}
                                    {% set today = "now"|date('d-m-Y') %}
                                    {% set difference = date(datePost).diff(date(today))%}
                                    {% set leftDays = difference.days %}
                                    {% if datePost == today %}
                                        Il y a 1 Jour
                                    {% else %}
                                        Il y a {{ leftDays }} Jours
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% elseif chart_selected is same as("orders") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <a href="{{ path("admin_restaurant_order_show", {'id': restaurant.id, 'entity': value.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ value.id }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    $320
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% elseif chart_selected is same as("menus") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <a href="{{ path("admin_restaurant_order_show", {'id': restaurant.id, 'entity': value.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ value.id }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    $320
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% elseif chart_selected is same as("reservations") %}
                {% for value in latest_value %}
                    <li class="py-3 sm:py-4">
                        <a href="{{ path("admin_restaurant_reservations_show", {'id': value.restaurant_id, 'reservation_id': value.id}) }}">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ value.id }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                        email@windster.com
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                                    $320
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>
