
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-2">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            {% for index, headerValue in filterParameters %}
                <th scope="col" class="px-6 py-3">
                    {{ headerValue }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for entityKey, entity in entities %}
            <tr class="bg-white border-b">
                {% for dataKey, data in entity %}
                    {% if data is same as(true) %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            True
                        </th>
                    {% elseif data is same as(false) %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            False
                        </th>
                    {% elseif data is iterable %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{ data|join(', ') }}
                        </th>
                    {% else %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{ data }}
                        </th>
                    {% endif %}
                {% endfor %}
                <td class="px-6 py-4 text-right">
                    {% if restaurant is defined %}
                        <a href="{{ path("admin_restaurant_#{entityName}_show", {'id': restaurant.id, entity: entity.id }) }}" class="font-medium text-blue-600 hover:underline">Show</a>
                        <a href="{{ path("admin_restaurant_#{entityName}_edit", {'id': restaurant.id, entity: entity.id }) }}" class="font-medium text-blue-600 hover:underline">Edit</a>
                    {% else %}
                        <a href="{{ path("admin_#{entityName}_show", {'id': entity.id}) }}" class="font-medium text-blue-600 hover:underline">Show</a>
                        <a href="{{ path("admin_#{entityName}_edit", {'id': entity.id}) }}" class="font-medium text-blue-600 hover:underline">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.filter.html.js"></script>
{% endblock %}

<table id="table_id" class="bg-red-100 display compact" style="width:100%">
    <thead>
    <tr>
        {% for index, headerValue in filterParameters %}
            <th>
                {{ headerValue }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for entityKey, entity in entities %}
        <tr>
            {% for dataKey, data in entity %}
                {% if data is same as(true) %}
                    <td>
                        True
                    </td>
                {% elseif data is same as(false) %}
                    <td>
                        False
                    </td>
                {% elseif data is iterable %}
                    <td>
                        {{ data|join(', ') }}
                    </td>
                {% else %}
                    <td>
                        {{ data }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        {% for index, headerValue in filterParameters %}
            <th>
                {{ headerValue }}
            </th>
        {% endfor %}
    </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {

        $('#table_id').DataTable({
        });
    });
</script>


-->