{% set current_path = app.request.get('_route') %}

<div class="flex flex-row mb-2">
    <button id="restaurant-menu-option-dropdown" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center mr-2 text-ellipsis" type="button">
        {% for menu in restaurant_menus %}
            {% if current_path is same as (menu.name) %}
                <span class="text-ellipsis">{{ menu.title }}</span>
            {% else %}
                {% if menu.sub_menus is defined %}
                    {% for sub_menu in menu.sub_menus %}
                        {% if current_path is same as (sub_menu.name) %}
                            <span class="whitespace-nowrap">{{ menu.title }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </button>
    <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
        <ul class="py-1 text-sm text-gray-700" aria-labelledby="restaurant-menu-option-dropdown">
            {% for menu in restaurant_menus %}
                {% if current_path is not same as (menu.name) %}
                    <li>
                        <a href="{{ path(menu.name, {'id': restaurant.id})}}" class="block py-2 px-4 hover:bg-gray-100">{{ menu.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="flex w-full text-sm font-medium text-center text-gray-500 border-b-2 border-gray-200 place-content-between">
        <ul class="flex flex-wrap -mb-px">
            {% for menu_key, menu in restaurant_menus %}
                {% if current_path is same as (menu.name) %}
                    {% if menu.sub_menus is defined %}
                        {% for sub_menu in menu.sub_menus %}
                            {% if current_path is not same as (sub_menu.name) %}
                                <li class="mr-2">
                                    <a href="{{ path(sub_menu.name, {'id': restaurant.id}) }}" class="inline-block p-2 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">{{ sub_menu.title }}</a>
                                </li>
                            {% else  %}
                                <li class="mr-2">
                                    <a href="{{ path(sub_menu.name, {'id': restaurant.id}) }}" class="inline-block p-2 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active hover:text-gray-600 hover:border-gray-300">{{ sub_menu.title }}</a>
                                </li>
                            {% endif  %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if menu.sub_menus is defined %}
                        {% for sub_menu_key, sub_menu in menu.sub_menus %}
                            {% if current_path is same as (sub_menu.name) %}
                                {% for current_sub_menu in restaurant_menus[menu_key].sub_menus %}
                                    {% if current_path is not same as (current_sub_menu.name) %}
                                        <li class="mr-2">
                                            <a href="{{ path(current_sub_menu.name, {'id': restaurant.id}) }}" class="inline-block p-2 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">{{ current_sub_menu.title }}</a>
                                        </li>
                                    {% else  %}
                                        <li class="mr-2">
                                            <a href="{{ path(current_sub_menu.name, {'id': restaurant.id}) }}" class="inline-block p-2 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active hover:text-gray-600 hover:border-gray-300">{{ current_sub_menu.title }}</a>
                                        </li>
                                    {% endif  %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="flex flex-wrap -mb-px right-0">
            {% if restaurant_title is not defined %}
                <button onclick="location.href='{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}'" class="px-4 hover:bg-slate-200">Modifier</button>
                <form class="m-0 p-0 h-full bg-transparent" method="post" action="{{ path('admin_restaurant_remove', {'id': restaurant.id, 'token': csrf_token('remove_restaurant')}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce restaurant');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
                    <button class="px-4 hover:bg-red-700 bg-red-400 text-white h-full">Supprimer</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>