<div class="max-w-sm h-full bg-white rounded-lg border border-gray-200 shadow-md mr-3">
  <div class="flex flex-col items-center pb-10 w-full">
    {% if restaurant.imageName  %}
      <img class="w-full h-10 rounded-lg border p-1 mx-2 bg-white" style="height: 100px" src="{{ vich_uploader_asset(app.restaurant, 'avatarFile') }}" alt="icon utilisateur">
    {% else %}
      <img class="w-full h-10 rounded-lg border p-1 m-4 bg-white" style="height: 100px; width: 80%" src="{{ asset('img/restaurant_icon.png') }}" alt="icon utilisateur">
    {% endif %}
    <h5 class="mb-1 text-xl font-medium text-gray-900">{{ restaurant.name | capitalize }}</h5>
    <span class="text-sm text-gray-500">{{ restaurant.kitchenStyle | first }}</span>
  </div>
  <div class="flex flex-col py-3 px-5">
    {% for key, info in restaurant_info  %}
      <div>
        <span class="text-sm text-blue-500">{{ key | capitalize }}</span>
        <p class="p-2">
          {% if info is iterable %}
            {{ info | first }}
          {% elseif key is same as("profil visible") %}
            {{ key?"oui":"non" }}
          {% else %}
            {% if info %}
              {{ info | capitalize }}
            {% else %}
              Aucune information disponible
            {% endif %}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
