{% extends 'admin/base_admin.html.twig' %}

{% block restaurant_body %}
    <div class="flex flex-row">
        <div class="flex flex-col w-full">
            <div class="border border-2 rounded-md border-slate-400 w-full">
                <div class="flex flex-col p-4">
                    <div class="text-xl font-bold flex-1">Dash</div>
                    <div class="flex flex-row">
                        {{ render_chart(chart, {'class': 'example-wrapper'}) }}
                    </div>
                </div>
            </div>
            <div class="flex space-between my-2">
                <div class="w-48 h-48 border border-2 rounded-md border-slate-400 mr-1">
                    <div class="py-5">
                        <div class="font-bold text-center text-xl w-full">Utilisateurs connectés</div>
                    </div>
                </div>
                <a href="{{ path("admin_restaurant_dashboard") }}" class="hover:bg-slate-100 w-48 h-48 border border-2 rounded-md border-slate-400 mx-1">
                    <div class="p-5">
                        <div class="font-bold text-center text-xl w-full">Restaurants</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex flex-col w-96 pl-2">
            <div class="h-full w-full border border-2 border-slate-400 rounded-md">

            </div>
        </div>
    </div>

{% endblock %}