{% extends 'admin/base_admin.html.twig' %}

{% block restaurant_body %}
    <div class="flex flex-row">
        <div class="flex flex-col w-full">
            {% include 'admin/component/block/filter.html.twig' %}
            {% include 'admin/component/block/tables.html.twig' %}
        </div>
    </div>

{% endblock %}