<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body class="flex min-h-screen max-h-screen max-w-screen">
        {% include 'admin/component/sidebar.html.twig' %}
        <div class="flex flex-col w-full p-5 overflow-x-auto">
            {% include 'admin/component/header.html.twig' %}
            <div class="h-full w-full flex">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
