@tailwind components;

@layer components {
    .form {
        @apply p-4 bg-slate-100 border-none rounded-lg shadow
    }

    .form div {
        @apply flex flex-row grid grid-cols-2 p-2
    }

    .form div > label {
        @apply text-black
    }

    .form div > input[type=text] {
        @apply border-none rounded-lg
    }

    .form div > input[type=tel] {
        @apply border-none rounded-lg
    }

    .form div > input[type=number] {
        @apply border-none rounded-lg
    }

    .form div > input[type=email] {
        @apply border-none rounded-lg
    }

    .form div > div > select {
        @apply border-none rounded-lg content-between w-full
    }

    .form div > div > select:nth-child(2) {
        @apply m-0
    }

    .form div > input[type=checkbox] {
        @apply border-none rounded
    }

    .form div > select {
        @apply border-none rounded-lg
    }

    .form button[type=submit] {
        @apply bg-slate-200 p-4 w-full my-2 rounded-lg
    }
}