@tailwind components;

@layer components {
    .login-form .button-submit {
        @apply bg-slate-400 rounded-md py-2 text-white
    }

    .login-form .button-submit:hover {
        @apply bg-slate-600 rounded-md py-2
    }

    .login-form .text-error {
        @apply text-red-500
    }

    .login-form .login-input {
        @apply mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400 valid:border-green-500 invalid:border-red-500
    }

    .login-form .login-input-label {
        @apply block text-sm font-medium text-gray-700
    }
}