{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="h-full w-full flex flex-col">
        {% include 'admin/restaurant/component/menu.html.twig' %}
        <div class="flex w-full">
            {% block restaurant_body %}{% endblock %}
        </div>
    </div>
{% endblock %}