{% extends 'admin/base_admin.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {% for message in app.flashes('failure') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        {{ form_rest(form) }}
        <button type="submit">S'enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
