{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="flex flex-col w-9/12">
        {% include 'admin/component/block/chart.html.twig' %}
        {% include 'admin/component/block/bottom.html.twig' %}
    </div>
    <div class="flex flex-col w-3/12 pl-2">
        {% include 'admin/component/block/side.html.twig' %}
    </div>
{% endblock %}