{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="flex flex-col w-full">
        {% include 'admin/component/block/filter.html.twig' %}
        {% include 'admin/component/block/tables.html.twig' %}
    </div>
{% endblock %}