{% extends 'admin/restaurant/base_restaurant.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block restaurant_body %}
    {% include 'admin/restaurant/component/restaurant_profile.html.twig' %}
    {% include 'admin/restaurant/component/restaurant_side.html.twig' %}
{% endblock %}
