{% set current_path = app.request.get('_route') %}

<div class="flex pb-4 place-content-between">
    <div class="flex px-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            {% for key, menu in menus %}
                {% if menu.name is same as (current_path) %}
                    <li>
                        <div class="flex items-center">
                            <span class="text-xl font-bold text-blue-600">{{ menu.title }}</span>
                        </div>
                    </li>
                {% elseif menu.sub_menus is defined %}
                    {% if key in current_path %}
                        {% if restaurant is defined %}
                            <li>
                                <div class="flex items-center">
                                    <a href="{{ path("admin_restaurant_show", {"id": restaurant.id}) }}" class="text-xl font-bold text-gray-700 hover:text-gray-900">{{ menu.title }}</a>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <div class="flex items-center">
                                    <a href="{{ path(menu.name) }}" class="text-xl font-bold text-gray-700 hover:text-gray-900">{{ menu.title }}</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for sub_menu in menu.sub_menus %}
                        {% if sub_menu.name is same as (current_path) %}
                            {% if restaurant is defined %}
                                <li>
                                    <div class="flex items-center">
                                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        <span class="text-blue-600 ml-1 text-xl font-bold md:ml-2">{{ restaurant.name|capitalize }}</span>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <div class="flex items-center">
                                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                        <span class="text-blue-600 ml-1 text-xl font-bold md:ml-2">{{ sub_menu.title }}</span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    {% for message in app.flashes('success') %}
        <span class="bg-green-600 py-2 px-4 leading-8 text-white align-middle">
            {{ message }}
        </span>
    {% endfor %}

    {% for message in app.flashes('failure') %}
        <span class="bg-red-600 py-2 px-4 leading-8 text-white align-middle">
            {{ message }}
        </span>
    {% endfor %}

    <button id="user-header-button" data-dropdown-toggle="user-header-dropdown" class="text-black bg-transparent hover:bg-gray-300 focus:outline-none focus:bg-gray-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
        {% if app.user.firstname or app.user.lastname  %}
            {{ app.user.firstname }}
            {{ app.user.lastname }}
        {% else %}
            {{ app.user.email }}
        {% endif %}

        {% if app.user.avatarName  %}
            <img class="w-10 h-10 rounded-full border p-1 mx-2 bg-white" style="height: 50px; width: 50px" src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="icon utilisateur">
        {% else %}
            <img class="w-10 h-10 rounded-full border p-1 mx-2 bg-white" style="height: 50px; width: 50px" src="{{ asset('img/user_icon.png') }}" alt="icon utilisateur">
        {% endif %}
    </button>
</div>

<div id="user-header-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
    <ul class="py-1 text-sm text-gray-700" aria-labelledby="user-header-button">
        <li>
            <a href="{{ path('admin_user_show', {'id': app.user.id}) }}" class="block py-2 px-4 hover:bg-gray-100">
                <span class="material-icons">
                    account_circle
                </span>
                Voir mon profil
            </a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', {'id': app.user.id}) }}" class="block py-2 px-4 hover:bg-gray-100">
                <span class="material-icons">
                    edit
                </span>
                Éditez mon profil
            </a>
        </li>
    </ul>
    <div class="py-1">
        <a href="{{ path('admin_logout') }}" class="block bg-red-600 py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">
            <span class="material-icons text-white">
                logout
            </span>
            Se déconnecter
        </a>
    </div>
</div>