{% set current_path = app.request.get('_route') %}

<aside class="w-64 border shadow-lg" aria-label="Sidebar">
    <div class="flex items-center py-2">
        <img src="{{ asset('img/logo_dark.svg') }}" class="h-6 sm:h-9 w-full" alt="Foodify Logo" />
    </div>
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
        <ul class="space-y-2">
            {% for key, menu in menus %}
                {% if menu.sub_menus is defined %}
                    <li>
                        <button type="button" class="flex items-center p-2 w-full text-base font-normal rounded-lg transition duration-75 group {{key in current_path ? "bg-blue-700 text-white hover:bg-blue-800" : "hover:bg-gray-200" }}" aria-controls="{{ menu.name }}-dropdown" data-collapse-toggle="{{ menu.name }}-dropdown">
                            <span class="material-icons">
                                {{ menu.icon }}
                            </span>
                            <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ menu.title }}</span>
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <ul id="{{ menu.name }}-dropdown" class="{{key not in current_path ? "hidden"}} py-2 space-y-2">
                            {% for sub_menu in menu.sub_menus  %}
                                {% if sub_menu.show %}
                                    <li>
                                        <a href="{{ path(sub_menu.name) }}" class="flex items-center p-2 pl-11 w-full text-base font-normal rounded-lg transition duration-75 group {{current_path is same as (sub_menu.name) ? "bg-blue-700 text-white cursor-default" : "hover:bg-gray-200" }}">{{ sub_menu.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{current_path is not same as (menu.name) ? path(menu.name) }}" class="flex items-center p-2 text-base font-normal rounded-lg {{key in current_path ? "bg-blue-700 text-white cursor-default" : "hover:bg-gray-300"}}">
                            <span class="material-icons">
                                {{ menu.icon }}
                            </span>
                            <span class="ml-3">{{ menu.title }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
