<div class="max-w-sm h-full bg-white rounded-lg border border-gray-200 shadow-md mr-3">
  <div class="flex justify-end px-4 pt-4">
    <button id="dropdownButton" data-dropdown-toggle="dropdown" class="hidden sm:inline-block text-gray-500  hover:bg-gray-100 focus:outline-none focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5" type="button">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
      <ul class="py-1" aria-labelledby="dropdownButton">
        <li>
          <a href="{{ path('admin_user_edit', {'id': user.id }) }}" class="block py-2 px-4 text-center text-sm text-gray-700 hover:bg-gray-100">Modifier</a>
        </li>
        <li>
          <form class="m-0 p-0 bg-transparent" method="post" action="{{ path('admin_user_remove', {'id': user.id, 'token': csrf_token('remove_user')}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'utilisateur');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
            <button class="block py-2 px-4 w-full text-sm text-red-600 hover:bg-gray-100">
              Supprimer
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col items-center pb-10">
    {% if user.avatarName  %}
      <img class="w-10 h-10 rounded-full border p-1 mx-2 bg-white" style="height: 100px; width: 100px" src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="icon utilisateur">
    {% else %}
      <img class="w-10 h-10 rounded-full border p-1 mx-2 bg-white" style="height: 100px; width: 100px" src="{{ asset('img/user_icon.png') }}" alt="icon utilisateur">
    {% endif %}
    <h5 class="mb-1 text-xl font-medium text-gray-900">{{ user.firstName | capitalize }} {{ user.lastName | capitalize }}</h5>
    <span class="text-sm text-gray-500">{{ user.roles | first }}</span>
  </div>
  <div class="flex flex-col py-3 px-5">
    {% for key, info in user_info  %}
      <div>
        <span class="text-sm text-blue-500">{{ key | capitalize }}</span>
        <p class="p-2">
          {% if info is iterable %}
            {{ info | first }}
          {% elseif key is same as("profil visible") %}
            {{ key?"oui":"non" }}
          {% else %}
            {% if info %}
              {{ info | capitalize }}
            {% else %}
              Aucune information disponible
            {% endif %}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
