{% extends 'admin/restaurant/base_restaurant.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block restaurant_body %}
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {% for message in app.flashes('failure') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_rest(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
