{% extends 'admin/restaurant/base_restaurant.html.twig' %}

{% block restaurant_body %}
    <div class="flex flex-row w-full">
        <div class="flex flex-col w-full">
            {% include 'admin/component/block/filter.html.twig' %}
            {% include 'admin/component/block/tables.html.twig' %}
        </div>
    </div>
{% endblock %}